<div class="container">
  <div class="filters">
    <a class="button" routerLink="/cataloge/Heads" routerLinkActive="active">Heads</a>
    <a class="button" routerLink="/cataloge/Arms" routerLinkActive="active">Arms</a>
    <a class="button" routerLink="/cataloge/" routerLinkActive="active" [queryParams]="{filter:'Torsos'}" >Torsos</a>
    <a class="button" (click)="filter='Bases'" routerLinkActive="active">Bases</a>
    <a class="button" [routerLink]="['/cataloge','']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilterProducts()">
      <bot-product-details [product]="product" (buy)="addToCart(product)"></bot-product-details>
    </li>
  </ul>
</div>